[project]
	description = This simple project aims to automate and make easy the online recovery process of a failed pgpool's backend node in master/slave mode.
[access "refs/*"]
	owner = group user/Ahmed Bessifi (vaytess)
[access "refs/for/refs/*"]
	read = group user/Ahmed Bessifi (vaytess)
	push = group user/Ahmed Bessifi (vaytess)
	label-Code-Review = -2..+2 group user/Ahmed Bessifi (vaytess)
	label-Verified = -1..+1 group user/Ahmed Bessifi (vaytess)
	rebase = group user/Ahmed Bessifi (vaytess)
	removeReviewer = group user/Ahmed Bessifi (vaytess)
	submit = group user/Ahmed Bessifi (vaytess)
[access "refs/heads/*"]
	read = group user/Ahmed Bessifi (vaytess)
	create = group user/Ahmed Bessifi (vaytess)
	push = +force group user/Ahmed Bessifi (vaytess)
	pushMerge = group user/Ahmed Bessifi (vaytess)
[access "refs/tags/*"]
	push = +force group user/Ahmed Bessifi (vaytess)
	pushTag = group user/Ahmed Bessifi (vaytess)
	pushSignedTag = group user/Ahmed Bessifi (vaytess)
